.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.collection-container {
  border: 8px dotted rgb(102, 170, 51);
  padding: 20px
}

li::marker {
  background-color: #d00;
  width: 1.3em;
  height: 1.3em;
  display: block;
  position: absolute;
  z-index: -1;
  left: -1.35em;
  border-radius: 50%;
  margin-right: 10px;
  color:#61dafb
}

.collection-item {
  border: 6px solid rgb(153, 204, 51);
  width: 650px;
  margin-top: 20px;
  margin-left: 25px;
}

